////
/// @group components/header-anchor
////
///
.app-header-anchor {
  color: govuk-colour("mid-grey");
  font-style: italic;
  font-weight: normal;
  margin-left: govuk-spacing(1);
  text-decoration: none;
  visibility: hidden;

  &:hover {
    color: $govuk-link-hover-colour;
  }
}

h2:hover .app-header-anchor,
h3:hover .app-header-anchor,
h4:hover .app-header-anchor {
  visibility: visible;
}
