////
/// @group components/phases
////

// stylelint-disable max-nesting-depth

$alpha-colour: govuk-colour("pink");
$discovery-colour: govuk-colour("bright-purple");
$beta-colour: govuk-colour("orange");
$live-colour: govuk-colour("light-green");
$retirement-colour: govuk-colour("mid-grey");

.service-life {
  margin: 0;

  h2 {
    margin-top: 0;
    // @include bold-36;

    a {
      color: $govuk-text-colour;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}

// Phases list (main styles are in phases.scss)
// .phases-list {
//   li {
//     p {
//       @include govuk-font($size: 19);
//     }
//   }
// }

.phases {
  .phase-nav {
    margin: 3em 0;
    padding: 0;

    li {
      padding-left: 0;
      list-style-type: none;
    }
  }
}

// Phases
.phases-list {
  // @include ie-lte(7) {
  //   list-style-image: none;
  // }
  padding: 0;
  padding-left: 1.5em;
  list-style: none;

  p {
    @include govuk-font($size: 19);
  }

  > * {
    display: block;
    margin: 0;
    padding: 0 0 0.7em 2em;

    // Tube line
    border-left: dotted 0.6em;
    @include govuk-font($size: 19);

    // Tube station
    &:before{
      content: "";
      display: block;
      width: 1.2em;
      margin: 0.5em -3.2em;
      border: 0.3em solid;
      background: govuk-colour("white");
    }

    &:first-child{
      margin-top: 5em;
      padding-top: 0.5em;

      // Interchange tube station
      &:before{
        height: 1.2em;
        margin: -2.8em -3.45em;
        border: 0.6em solid;
        border-radius: 1.2em;
      }

      h3{
        margin-top: 1em;
      }
    }

    &.discovery,
    &.discovery:before {
      border-color: $discovery-colour;
    }

    &.alpha,
    &.alpha:before {
      border-color: $alpha-colour;
    }

    &.beta,
    &.beta:before {
      border-color: $beta-colour;
    }

    &.live,
    &.live:before {
      border-color: $live-colour;
    }

    &.retirement{
      border-left-color: transparent;

      h3{
        margin-top: -2.2em;
      }
    }

    &.retirement:before {
      height: 1.2em;
      margin: 0.5em -3.45em;
      border: 0.6em solid;
      border-radius: 1.2em;
      border-color: $retirement-colour;
    }

    p {
      margin: 0.75em 0;

      a {
        @include govuk-font($size: 19);
      }
    }

    h3 {
      margin-top: -1.3em;
      border-bottom: 0;

      a {
        color: $govuk-text-colour;
        text-decoration: none;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }

  .link-list {
    h3 {
      margin-top: 1em;
    }
  }
}

// stylelint-enable max-nesting-depth
