{% extends "layouts/base.njk" %}

{% block beforeContent %}
{{ govukBackLink({
  text: "Back",
  href: back if back else "javascript:history.back()"
}) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        {% if caption %}
          <span class="govuk-caption-xl">{{ caption }}</span>
        {% endif %}
        {{ title }}
        {% if subtitle %}
          <span class="govuk-caption-l govuk-!-margin-top-2">{{ subtitle }}</span>
        {% endif %}
      </h1>

      <p class="govuk-body-l">{{ description | markdown("inline") | safe }}</p>
    </div>
  </div>
  {%- if content | length  %}
    <div class="govuk-grid-row">
      {% if content | toc | length %}
        <aside class="govuk-grid-column-one-third">
          {{ appContentsList({
            heading: {
              text: 'Contents'
            },
            items: content | toc,
            classes: "govuk-!-margin-bottom-7"
          }) }}
        </aside>
      {% endif %}
      <article class="govuk-grid-column-two-thirds">
        <div class="app-markdown">
          {{- content | safe -}}
        </div>
      </article>
    </div>
  {% endif -%}
{% endblock %}
