{% extends "layouts/base.njk" %}

{% block beforeContent %}
{{ govukBackLink({
  text: "Back",
  href: back if back else "javascript:history.back()"
}) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        {% if caption %}
          <span class="govuk-caption-xl">{{ caption }}</span>
        {% endif %}
        {{ title }}
        <span class="govuk-caption-l">{{ subtitle }}</span>
      </h1>

      <p class="govuk-body-l">{{ description }}</p>

      {%- if content | length  %}
        <div class="app-markdown">
          {{- content | safe -}}
        </div>
      {% endif -%}
    </div>
  </div>
{% endblock %}
