{% extends "layouts/base.njk" %}

{% block beforeContent %}
{{ appBreadcrumbs({
  title: title,
  items: collections.all,
  key: eleventyNavigation.key,
  classes: "govuk-!-display-none-print"
}) if eleventyNavigation and eleventyNavigation.key and eleventyNavigation.parent }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        {% if caption %}
          <span class="govuk-caption-xl">{{ caption }}</span>
        {% endif %}
        {{ title }}
      </h1>

      {%- if content | length  %}
        <div class="app-markdown">
          {{- content | safe -}}
        </div>
      {% endif -%}
    </div>
  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

      {% if pagination.items.length > 0 %}
        {% for item in pagination.items %}
          <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
          <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
              <div class="govuk-grid-row">
                <div class="govuk-grid-column-one-quarter">
                  <span class="app-big-number__value">{{ loop.index }}</span>
                </div>
                <div class="govuk-grid-column-three-quarters">
                  <h2 class="govuk-heading-s govuk-!-font-weight-regular">
                    {{ item.data.title | nl2br | safe }}
                  </h2>
                  <p class="govuk-body app-service-standard-point__link">
                    <a class="govuk-link" href="{{ item.url | url | pretty }}">Read more about point {{ loop.index }}</a>
                  </p>
                </div>
              </div>
            </div>
            <div class="govuk-grid-column-one-third">
              <p class="govuk-body govuk-!-font-weight-bold">Related guides</p>
              {% if item.data.related.items.length %}
                <ul class="govuk-list">
                  {% for item in item.data.related.items %}
                    <li>
                      <a class="govuk-link" href="{{ item.href }}">{{ item.text }}</a>
                    </li>
                  {% endfor %}
                </ul>
              {% else %}
                <p class="govuk-body">No related guides.</p>
              {% endif %}
            </div>
          </div>
        {% endfor %}
      {% else %}
        <p class="govuk-body">No standards found.</p>
      {% endif %}

    </div>
  </div>
{% endblock %}
