---
permalink: browserconfig.xml
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="utf-8"?>
<browserconfig>
  <msapplication>
    <tile>
      <square70x70logo src="/assets/images/ms-tile-128x128.png"/>
      <square150x150logo src="/assets/images/ms-tile-270x270.png"/>
      <wide310x150logo src="/assets/images/ms-tile-wide-558x270.png"/>
      <square310x310logo src="/assets/images/ms-tile-558x558.png"/>
      <TileColor>#ffffff</TileColor>
    </tile>
  </msapplication>
</browserconfig>
