---
permalink: humans.txt
eleventyExcludeFromCollections: true
---
Chief protagonist: Simon Whatley
Contact: hello [at] simonwhatley.co.uk
BlueSky: @simonwhatley
Linkedin: simonwhatley
Mastodon: @simonwhatley@mastodon.social
Twitter: @simonwhatley
From: London, UK
