{{ govukFooter({
  meta: {
    items: [{
      text: "Design Principles",
      href: "https://www.gov.uk/guidance/government-design-principles"
    }, {
      text: "Design System",
      href: "https://design-system.service.gov.uk/"
    }, {
      text: "Service Manual",
      href: "https://www.gov.uk/service-manual"
    }, {
      text: "Service Standard",
      href: "https://www.gov.uk/service-manual/service-standard"
    }, {
      text: "Style guide",
      href: "https://www.gov.uk/guidance/style-guide"
    }]
  }
}) }}
