    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>{{- title + ' – ' + site.name if title else site.title | default('Simon Whatley') -}}</title>
    {# <meta name="description" content="{{ content | excerpt | striptags | default(site.description) }}"> #}
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <meta name="theme-color" content="{{ site.themecolor }}">
    <meta name="format-detection" content="telephone=no">

    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <meta name="apple-mobile-web-app-title" content="{{ site.title }}">
    {# https://timkadlec.com/remembers/2018-06-06-web-watch/ #}
    <meta name="disabled-adaptations" content="watch">

    {# <link rel="shortcut icon" href="/assets/images/favicon.ico" type="image/x-icon">
    <link rel="apple-touch-icon" href="/assets/images/icon-180x180.png" sizes="180x180">
    <link rel="apple-touch-icon" href="/assets/images/icon-167x167.png" sizes="167x167">
    <link rel="apple-touch-icon" href="/assets/images/icon-152x152.png" sizes="152x152">
    <link rel="apple-touch-icon" href="/assets/images/icon-120x120.png"> #}

    <link rel="alternate" href="/atom.xml" type="application/rss+xml" title="Feed for all content on {{ site.title }}">

    <link rel="manifest" href="/manifest.json" type="application/json" crossorigin="use-credentials">

    <link rel="alternate" href="{{ site.url }}" hreflang="x-default">
    <link rel="canonical" href="{{ site.url + page.url }}" itemprop="url">

    <meta property="og:site_name" content="{{ site.title }}">
    <meta property="og:title" content="{{ title + ' – ' + site.name if title else site.title }}">
    {# <meta property="og:description" content="{{ content | excerpt | striptags | default(site.opengraph.description) }}">
    <meta property="og:url" content="{{ site.url + page.url }}">
    <meta property="og:image" content="{{ site.opengraph.image }}">
    <meta property="og:image:width" content="1200">
    <meta property="og:image:height" content="630"> #}

    {# <meta name="twitter:card" content="{{ site.twitter.card }}">
    <meta name="twitter:creator" content="{{ site.twitter.author }}">
    <meta name="twitter:site" content="{{ site.twitter.author }}"> #}
    {# https://dev.twitter.com/web/overview/widgets-webpage-properties#csp #}
    <meta name="twitter:widgets:csp" content="on">

    <link rel="stylesheet" href="/assets/styles/all.css">

    {# {% include "./analytics.njk" %} #}
